<div>
<!--<app-home></app-home>-->
<!--<app-a></app-a>-->

<!--Onpush Component-->
<!-- <div style="width: 50vw;margin: 30px auto">
<app-tab-b></app-tab-b>
<app-tab-c></app-tab-c>
</div> -->

<!--           NG-content               -->
<!--<h2>NG-Content</h2>-->
<!--<app-myinput icon = "a" >-->
<!--  <i [ngClass]="classes"><img src="../assets/email.png" style="width: 20px;height: 22px;"></i>-->
<!--  <input appInputRef type="email" placeholder="Email" />-->
<!--</app-myinput>-->

<!--              NgZone              -->
<!--<app-tabe></app-tabe>-->

<!--             Ng-router              -->
  <!-- <button nzType="primary" nz-button nzSize="large" routerLink="/"> Go Home!</button>
  <router-outlet></router-outlet>
  <br/>
  <br/> -->
</div>
<!--             NG-Template            -->
<app-consumer></app-consumer>
